.dropdownCard {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100%;
    left: -60px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 250px;
    gap:50px;
  }
 .toolItems:hover .dropdownCard ,.dropdownCard:hover{
    display: flex;
 }