.dropdownCard {
    position: absolute;
    top: 100%;
    right: -150px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: max-content;
    gap:50px;
  }
 